<ion-header>
  <ion-toolbar>
  	<ion-button color="dark" slot="start" fill="none" (click)="this.modalCtrl.dismiss()">
  		<ion-icon name="arrow-back"></ion-icon>
    </ion-button>
<!--     <ion-buttons slot="start">
  		<ion-back-button defaultHref="/workout"></ion-back-button>
  	</ion-buttons> -->
    <ng-container *ngIf="this.workout;">
  		<ion-title>{{this.workout.workoutTitle}}</ion-title>
  	</ng-container>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card color="dark">
	  <ion-card-header>
	  		<ion-card-subtitle>Session list:</ion-card-subtitle>
	  </ion-card-header>
	  <ion-card-content>

	  	<ion-list *ngFor="let exercise of this.workout.workoutList | keyvalue">
	  		<ion-item color ="dark">
	  			{{exercise.value.wName}}
		  	</ion-item>	
		  	 <ion-item >
	  			<p><small>Type:{{exercise.value.wType}}<br>Times:{{exercise.value.wValue}}</small></p>
		  	</ion-item>	
		</ion-list>
	  </ion-card-content>
	</ion-card>
	<ion-button color="dark" expand="block" (click)="playWorkout(this.workout,this.workout.workoutList)" style="margin-top: 10%">play</ion-button>	
</ion-content>