<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="this.workoutID; else noID">
  		<ion-title>Edit workout</ion-title>
  	</ng-container>
  	<ng-template #noID>
  		<ion-title>Add workout</ion-title>
  	</ng-template>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
	      <ion-label position="floating">Session Title</ion-label>
	      <ion-input required type="text" [(ngModel)]="worked.workoutTitle"></ion-input>
	    </ion-item>
	    <ion-button size="small" expand="block" color="light" (click)="addControl()">Add Exercise</ion-button>
	</ion-list>
	<ion-list lines="none">
	  	<table width="100%">
	  		<tr *ngFor="let control of workoutForm.controls | keyvalue">
	  			<td>
	  				<ion-select placeholder="Exercise" >
	      				<ion-select-option *ngFor="let workout of workouts"  value="{{workout.wType}}">{{control}}</ion-select-option>
	      			</ion-select>
	      		</td>
	      		<td>
	      			<ion-item >
     					<ion-icon (click)="removeControl(control)" name="close-circle">
     					</ion-icon>
     				</ion-item>
     			</td>
     		</tr>
     	</table>
	</ion-list>	
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-button color="light" expand="block" (click)="this.modalCtrl.dismiss()" style="margin-top: 10%">cancel</ion-button>
			</ion-col>
			<ion-col>
				<ion-button expand="block" (click)="saveWorkout()" style="margin-top: 10%">Save</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
