<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="this.profileID; else noID">
    	<ion-button color="dark" slot="start" fill="none" (click)="this.modalCtrl.dismiss()">
  			<ion-icon name="arrow-back"></ion-icon>
    	</ion-button>
  		<ion-title >Edit profile</ion-title>
  	</ng-container>
  	<ng-template #noID>
  		<ion-title>First time login</ion-title>
  	</ng-template>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list lines="full">
		<ion-item>
			<ion-input required type="text" placeholder="Your Alias" [(ngModel)]="profile.profileAlias"></ion-input>
		</ion-item>
		<ion-radio-group radio-group [(ngModel)]="profile.profileGender" name="profile.profileGender" required>
	      <ion-list-header>
	        Gender
	      </ion-list-header>
	      <ion-item>
	        <ion-label>Male</ion-label>
	        <ion-radio value="true"></ion-radio>
	      </ion-item>
	      <ion-item>
	        <ion-label>Female</ion-label>
	        <ion-radio value="false"></ion-radio>
	      </ion-item>
	    </ion-radio-group>
    	<ion-item>
			<ion-input required type="text" placeholder="Your weight" [(ngModel)]="profile.profileWeight"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input required type="text" placeholder="Your height" [(ngModel)]="profile.profileHeight"></ion-input>
		</ion-item>
	</ion-list>
	<ion-button color="dark" expand="full" (click)="onSubmit()">Save</ion-button>
</ion-content>