<ion-header>
<ion-toolbar color="dark">
	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Alarm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-grid  style="height:30%; padding: 10px;">
	  <ion-row>
	    <ion-col>
	       
	    </ion-col>
	    <ion-col horizontal="center">
	      <ion-img src="assets/icon/Alarms.png"></ion-img>
	    </ion-col>
	    <ion-col>
	       
	    </ion-col>
	  </ion-row>
	</ion-grid>
	<ion-list>
		<ng-container *ngFor="let item of alarms;">
			<ng-container *ngIf="!item || item == 0">
				<p style="color:#D3D3D3">There are no alarms yet, add below</p>
				<div *ngFor="let n of [0,1,2]" padding>
					<ion-skeleton-text></ion-skeleton-text>
					<p>
						<ion-skeleton-text width="60%"></ion-skeleton-text>
					</p>
				</div>
			</ng-container>
			<ion-item-sliding *ngIf="item.alarmCreatedBy == this.afAuth.auth.currentUser.uid">
			  <ion-item-options side="start">
			    <ion-item-option color="secondary"  (click)="enable(item.id)"><ion-icon name="checkmark"></ion-icon></ion-item-option>
			  </ion-item-options>

			  <ion-item>
			  	  <p style="opacity: 0">{{i}}</p>
			      <table>
			      	<tr>
			      		<th><h2>{{item.alarmTime}} &nbsp;&nbsp;</h2></th>
			      		<td><table>
			      			<tr>
			      				<td><small><b>{{item.alarmTitle}}</b></small></td>
			      			</tr>
			      			<tr>
			      				<td><font size="-3" *ngFor="let day of item.alarmDays" >{{day}} </font></td>
			      			</tr>
			      		</table></td>
			      	</tr>
			      </table>
		    </ion-item>

		     <ion-item-options side="end">
	      	   <ion-item-option color="tertiary" (click)="edit(item,item.id)"><ion-icon name="create"></ion-icon></ion-item-option>
	      	   <ion-item-option color="danger" (click)="remove(item)"><ion-icon name="trash"></ion-icon></ion-item-option>
	    	 </ion-item-options>
	    	</ion-item-sliding>
		</ng-container>

	</ion-list>

    <ion-fab vertical ="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="dark"  (click)="add()" routerDirection="foward">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
