<ion-header>
<ion-toolbar color="dark">
	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Alarm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let alarm of alarms">
	      <table>
	      	<tr>
	      		<th><h2>{{alarm.alarmTime | date:'shortTime' }} &nbsp;&nbsp;</h2></th>
	      		<td><table>
	      			<tr>
	      				<td>{{alarm.alarmTitle}}</td>
	      			</tr>
	      			<tr>
	      				<td><sub> belom siap </sub></td>
	      			</tr>
	      		</table></td>
	      	</tr>
	      </table>
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	      <ion-button (click)="edit(alarm)" color="light">edit</ion-button> 
	      <ion-button (click)="delete(alarm)" color="light">Delete</ion-button>
	    </ion-item>
	</ion-list>

    <ion-fab vertical ="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="add()" routerDirection="foward">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
