<ion-header>
  <ion-toolbar>
  	<ng-container *ngIf="this.alarmID; else noID">
  		<ion-title>Edit alarm</ion-title>
  	</ng-container>
  	<ng-template #noID>
  		<ion-title>Add alarm</ion-title>
  	</ng-template>
  	<ion-button color="light" slot="end" fill="outline" (click)="this.modalCtrl.dismiss()">
  		back
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-list lines="full" style="border: 1px solid; border-bottom:0px" padding>
		<ion-list-header>Alarm info</ion-list-header>
		<ion-item>
			<ion-input required type="text" placeholder="Title" [(ngModel)]="alarm.alarmTitle"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label>Time</ion-label>
		  <ion-datetime display-format="HH:mm" [(ngModel)]="alarm.alarmTime" placeholder="00:00" ></ion-datetime>
		</ion-item>
    </ion-list>
    <div style="border: 1px solid; border-top:0px" padding>
    	<ion-label>Days</ion-label>
		<ion-select multiple="true" [(ngModel)] = "alarm.alarmDays" [interfaceOptions]="customSelectOptions">  
	    	 <ion-select-option *ngFor="let day of days">{{day.name}}</ion-select-option>
	  	</ion-select>
	</div>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-button expand="block" (click)="saveAlarm()" style="margin-top: 10%">Save</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>


</ion-content>
