<ion-header>
  <ion-toolbar>
  	<ng-container *ngIf="this.alarmID; else noID">
  		<ion-title>Edit alarm</ion-title>
  	</ng-container>
  	<ng-template #noID>
  		<ion-title>Add alarm</ion-title>
  	</ng-template>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-list lines="full" style="border: 1px solid; border-bottom:0px" padding>
		<ion-list-header>Alarm info</ion-list-header>
		<ion-item>
			<ion-input required type="text" placeholder="Title" [(ngModel)]="alarm.alarmTitle"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label>Time</ion-label>
		  <ion-datetime display-format="HH:mm" [(ngModel)]="alarm.alarmTime" placeholder="00:00" ></ion-datetime>
		</ion-item>
    </ion-list>
    <div style="border: 1px solid; border-top:0px" padding>
    	 <ion-label>Days</ion-label>
    		<ion-item *ngFor="let day of alarm.alarmDays">
	        	<ion-label>{{day.name}}</ion-label>
	        	<ion-checkbox [(ngModel)]="day.value"></ion-checkbox>
      		</ion-item>
      		<!-- it dosent work but it looks so fiinnnne -->
<!-- 		<ion-select multiple="true" >  
	    	<ion-select-option *ngFor="let day of alarm.alarmDays" [selected]="day.value"> {{day.name}} </ion-select-option>
	  	</ion-select> -->
	</div>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-button color="light" expand="block" (click)="this.modalCtrl.dismiss()" style="margin-top: 10%">cancel</ion-button>
			</ion-col>
			<ion-col>
				<ion-button expand="block" (click)="saveAlarm()" style="margin-top: 10%">Save</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>


</ion-content>
