<ion-header>
  <ion-toolbar>
  	<ion-button color="dark" slot="start" fill="none" (click)="this.modalCtrl.dismiss()">
  		<ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Session Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div style="text-align: center; height: 50%; width :100%">
		<h4>{{name}}</h4>
		<circle-progress (click) = "timerStart()"
		[percent]="percent"
		[maxPercent]="100"
		[radius]="radius"
		[showTitle]="false"
		[showSubtitle]= "false"
		[showUnits] = "false"
		[outerStrokeWidth]="16"
		[outerStrokeColor]="'Black'"
		[showZeroOuterStroke]="false"
		[backgroundStroke]="'Gray'"
		[backgroundStrokeWidth]="3"
		[outerStrokeGradient]= "true"
		[outerStrokeGradientStopColor]="'DarkGray'"
		[showInnerStroke]="false">
		</circle-progress>
		<br>
		<h2>{{time}}"</h2>

	 </div>

</ion-content>
