<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
	      <ion-menu-button></ion-menu-button>
	    </ion-buttons>
	    <ng-container *ngIf="afAuth.auth.currentUser; else aah">
	    <ion-title>
	      Workout
	    </ion-title>
		  </ng-container>
      <ng-template #aah>
      <ion-title>
        TowardsLimiter
      </ion-title>
    </ng-template>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!afAuth.auth.currentUser" padding>
    <ion-card style="background: black" padding>
      <ion-img src="assets/stacks-image-a16f51a.jpg"></ion-img>
      <h4>Where health is the constant priority</h4>
	     <firebase-ui style="background: white"></firebase-ui>
    </ion-card>
  </div>

	<div *ngIf="afAuth.auth.currentUser">

          <ion-img src="assets/else.jpg"></ion-img>

  	<div padding>
  	<ion-toolbar style="border-bottom: 1px solid black">
  	  <ion-title>Your Workouts</ion-title>	
  	  <ion-buttons (click)="add()" slot="end">
      	<ion-icon slot="icon-only" name="add"></ion-icon>
  	  </ion-buttons>
  	</ion-toolbar>

    <div *ngFor="let workout of workouts">
         <ion-item *ngIf="workout.workoutCreatedBy == afAuth.auth.currentUser.uid; else Koko">
        <table>
          <tr>
            <th><h2> &nbsp;&nbsp;</h2></th>
            <td><table>
                <tr>
                  <td><b>{{workout.workoutTitle}}</b></td>
                </tr>
                <tr>
                  <td><small><i>by {{workout.workoutCreatedBy}}</i></small></td>
              </tr>
            </table></td>
          </tr>
        </table>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </ion-item>
    </div>

<!--     <ng-template #Koko padding>
      <p style="color:#D3D3D3">There are no workouts yet, add above</p>
      <div *ngFor="let n of [0,1]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text width="60%"></ion-skeleton-text>
        </p>
      </div>
    </ng-template> -->

  	</div>
  	<div padding>
  	<ion-toolbar style="border-bottom: 1px solid black">
  	   <ion-title >Other Workouts</ion-title>	
    </ion-toolbar>
          <div *ngFor="let workout0 of workouts">
            <ion-item *ngIf="workout0.workoutCreatedBy != afAuth.auth.currentUser.uid;else kiki" (click)="workoutAct(workout0)">
              <table>
                <tr>
                  <th><h2> &nbsp;&nbsp;</h2></th>
                  <td><table>
                    <tr>
                      <td><b>{{workout0.workoutTitle}}</b></td>
                    </tr>
                    <tr>
                      <td><small><i>by {{workout0.workoutCreatedBy}}</i></small></td>
                    </tr>
                  </table></td>
                </tr>
              </table>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </ion-item>
          </div>


  	</div>
	</div>
</ion-content>
